:root {
  --primary-color: #cc6666;
  --primary-bg-color: #1b1b23;
}

body {
  color: #ebdbb2;
  background: var(--primary-bg-color);
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: monospace;
  max-width: 800px;
  min-height: 600;
  margin: 40px auto;
  padding: 0 10px;
  margin: 0 auto;
  background: 1b1b23;
}

a {
  color: var(--primary-color);
}
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  margin-bottom: 2rem;
}
/* NAVIGATION */

.site-nav {
}

.site-nav a {
  padding: auto 0.5rem;
}

.menu-element {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1rem;
}

a.title {
  font-weight: bold;
  line-height: 1rem;
}

.main-menu {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.post-date {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 0.5;
}

.infobox-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 1000px;
  gap: 20px;
}

.infobox {
  /* padding: 15px; */
  border: 1px solid #ddd;
  border-radius: 5px;
  border-color: var(--primary-color);
  border-width: 2px;
  border-radius: 0.375rem;
  box-sizing: border-box;
}

.infobox h3 {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
}

.infobox ul {
  list-style: none;
  padding: 0 1rem;
  line-height: 1;
}

.infobox li {
  margin: 5px 0;
  color: #666;
}

.infobox a {
  font-size: 1rem;
}

/* surrond footnote links with brackets */
a.footnote-ref::before {
  content: "[";
}

a.footnote-ref::after {
  content: "]";
}

.anchor:link {
  color: #ebdbb2;
  opacity: 0.5;
  text-decoration: none;
}

.anchor:hover {
  color: var(--primary-color);
  opacity: 1;
}
