:root {
  --primary-color: #cc6666;
  --primary-bg-color: #1b1b23;
}

body {
  color: #ebdbb2;
  background: var(--primary-bg-color);
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: monospace;
  max-width: 800px;
  min-height: 600;
  margin: 40px auto;
  padding: 0 10px;
  margin: 0 auto;
  background: 1b1b23;
  border-style: dotted;
  border-color: 555555;
}

a {
  color: var(--primary-color);
}
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
}

.site-nav a {
  padding: auto 0.5rem;
}

a.title {
  font-weight: bold;
}

.main-menu {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
}
