/* LAYOUT */

:root {
  --primary-color: #cc6666;
  --primary-bg-color: #1b1b23;
}

body {
  color: #ebdbb2;
  background: var(--primary-bg-color);
  font-size: 0.875rem;
  line-height: 1.5;
  font-family: monospace;
  max-width: 45rem;
  padding: 1rem;
  margin: 0 auto;
  background: 1b1b23;
}

a {
  color: var(--primary-color);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  margin-bottom: 2rem;
}

/* NAVIGATION */

.site-nav {
  display: flex;
}

.site-nav a {
  display: block;
  padding: 1rem;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 48rem) {
  .site-nav,
  .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0;
  }
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}
