<html lang="{{ .Site.Language }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
    {{- if .Param "math" }}
      {{ partialCached "math.html" . }}
    {{- end }}
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
    <a href="/index.xml">
      <img
        src="/rss.svg"
        style="max-height:1.5em"
        alt="RSS Feed"
        title="Subscribe via RSS for updates."
      >
    </a>
  </body>
</html>
